
<strong>Olá, {{ student }}! </strong>
<p>Respondendo sua solicitação:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data Resposta: </strong> {{ answerDate }} <br />
  <br />
  <small>
    A Gympoint está sempre a sua disposição!
  </small>
</p>
